@using StringMatch.Models
@model StringMatchViewModel


<div class="row">
    <div class="col-md-8">
        <section id="MainForm">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Enter a Text and SubText and click the Find Matches Button.</h3>
                <h4>The character position of each match for the subtext within the text will be displayed in the output</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.SubText, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SubText, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SubText, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Output, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Output, new { @class = "form-control", })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Find Matches" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
